<h1>HERE IS THE MENU ITEM INDEX PAGE</h1>

<%- menu_items.each do |menu_item| -%>
  <%= menu_item.name %>
  <%= link_to "Destroy #{menu_item.name}", menu_item_path(menu_item), method: :delete %>
<%- end -%>
