
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= @menu_item.name %></td>
    <td><%= @menu_item.description %></td>
    <td><%= "$#{@menu_item.price_in_dollars}" %></td>
  </tr>
</table>
